h1 {
text-align: center;
}

body {
    text-align: center;
}

form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex;
}


input{
    padding:10px;
    border-radius:5px;
}

div{
    display: flex;
    justify-content: space-between;
}


.firstLine{
    display: inline-block;
}

.secondLine{
    width: 95%;
    display: inline-block;
}

.big
{
    padding:10px;
    border-radius:5px;
    height: 100px;
    width: 100%;
}

.warning{
    color: red;
    padding:10px;
    border: 1px solid red;
    border-radius:5px;
    border-color: black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex;
}

.submitButton{
    padding:10px;
    border-radius:5px;
}

.replyButton {
    float: right;
    padding:5px;
    border-radius:5px;
}

.comment {
    display: block;
    padding: 10px;
    min-height: 100px;
    min-width: 200px;
    background-color: #EBEDEF;
    border-radius: 5px;
}

.reply {
    margin-top: 5px;
    margin-left: 20px;
    display: block;
    padding: 10px;
    min-height: 100px;
    min-width: 200px;
    background-color: #EBEDEF;
    border-radius: 5px;
    width: 80%;
}

.commentSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex;
}

.commentForm{
    margin-left: auto;
    margin-right: auto;
    align-items: flex;
}

.Font1{
    font-family: 'Courier New', monospace;
}

.Font2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: small;
}

.replies{
    border: solid black;
    background-color: white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}